Assignment 1

In [2]:
#1
print("Barkha Yadav")
print("White")
print("Black")

Barkha Yadav
White
Black

In [2]:
#2
print(7+8)

15

In [5]:
#3
print("Python is fun! \nlet's learn together.")

Python is fun!
let's learn together.

In [6]:
#4
print(6*9)

54

In [11]:
#5
print(f"5+5 = {5+5} and 2*3 = {2*3}")

5+5 = 10 and 2*3 = 6

In [15]:
#6 
name = input("enter your name: ")
print("Hello",name)

enter your name:  A

Hello A

In [18]:
#7
x =int(input("enter your savings: "))
y = int(input("enter amount to Google Pay: "))
print("Bank Balance",x-y)

enter your savings:  25000
enter amount to Google Pay:  8000

Bank Balance 17000

In [19]:
#8
print("A")
print("B")
print("C")
print("D")
print("E")

A
B
C
D
E

In [22]:
#9
A =input("enter your name: ")
B = input("enter your name: ")
print(A, "says Hi to",B)

enter your name:  A
enter your name:  B

A says Hi to B

Assignment 2

In [13]:
# 1
age = 25
print("age:", age,"|Type:",type(age))

age: 25 |Type: <class 'int'>

In [12]:
# 2
price = 12.5
print("price:",price,"|Type:",type(price))

price = 12
print("New price:",price,"|Type:",type(price))  # Type can change when values changes

price: 12.5 |Type: <class 'float'>
New price: 12 |Type: <class 'int'>

In [15]:
# 3
is_raining = True
print("is_raining :",is_raining ,"|Type:",type(is_raining ))

is_raining = False
print("is_raining :",is_raining ,"|Type:",type(is_raining ))

is_raining : True |Type: <class 'bool'>
is_raining : False |Type: <class 'bool'>

In [16]:
# 4
my_name = "Barkha Yadav"
print("My name is:",my_name)

My name is: Barkha Yadav

In [18]:
# 5
name = input("enter your name: ")
age = int(input("enter your age: "))
print(f"Hello,{name}!Yor are {age} years old.")

enter your name:  Barkha
enter your age:  22

Hello,Barkha!Yor are 22 years old.

In [19]:
# 6
x = 10
y = 3.5
print("x:",x,"|Type:",type(x))
print("y:",y,"|Type:",type(y))

sum_xy = x+y
print("sum:",sum_xy,"|Type:",type(sum_xy))

x: 10 |Type: <class 'int'>
y: 3.5 |Type: <class 'float'>
sum: 13.5 |Type: <class 'float'>

In [20]:
# 7
print("Type of 45.0:",type(45.0))
print("Type of 'hello':",type("hello"))
print("Type of None:",type(None))
print("Type of False:",type(False))

Type of 45.0: <class 'float'>
Type of 'hello': <class 'str'>
Type of None: <class 'NoneType'>
Type of False: <class 'bool'>

In [21]:
# 8
print("apple","banana","cherry")
print("apple","banana","cherry",sep=",")

apple banana cherry
apple,banana,cherry

In [22]:
# 9
big_number = 987654321987654321
print("big_number:",big_number,"|Type:",type(big_number)) 

# no fixed size

big_number: 987654321987654321 |Type: <class 'int'>

In [23]:
# 10
a = 2.5
b = 3.7
result = a*b
print("result:",result)
print("Type of result:",type(result))

result: 9.25
Type of result: <class 'float'>

Assignment 3

In [1]:
# 1
x = 15
result = x // 4
print(result)

# Basically it round down to the nearest integers

3

In [5]:
# 2
print(8 ** 2)
print(16 ** 0.5)

64
4.0

In [19]:
# 3
x = 20 - (5 + 8) * 3 / 4
print(x)

10.25

In [20]:
# 4
num = 7
num_float = float(num)
print(num_float)

# Both represent the same value but different d(type)

7.0

In [23]:
# 5
print(100 > 50)
 # Boolean

True

In [24]:
# 6
is_sunny = True
is_weekend = False
print(is_sunny and is_weekend)

False

In [29]:
# 7
password = "my_password123"
user_input = input("enter your password: ")
print(user_input == password)

enter your password:  my_password123

True

In [30]:
# 8
marks = 50
marks += 5
print(marks)

55

In [31]:
# 9
a = 0
b = 10
print(a or b)

10

In [32]:
# 10
print(not False)
# It reverses the Boolean value

True

Assignment 4

In [33]:
# 1
num = int(input("enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

enter a number:  25

Odd

In [34]:
# 2
age = int(input("enter your age: "))
if 0 <= age <= 12:
    print("Child")
if 13 <= age <= 19:
    print("Teenager")
if age >= 20:
    print("Adult")
else:
    print("Invalid age")

enter your age:  49

Adult

In [1]:
# 3
a = int(input("enter first number: "))
b = int(input("enter second number: "))
if a > b:
    print(a, "is larger")
elif b > a:
    print(b, "is larger")
else:
    print("both numbers are equal")

enter first number:  56
enter second number:  56

both numbers are equal

In [2]:
# 4
password = "SecurePassword"
user_input = input("enter password: ")
if user_input == password:
    print("Access Granted")
else:
    print("Access Denied")

enter password:  SecurePassword

Access Granted

In [1]:
# 5
x = int(input("enter score(0-100): "))
if 90 <= x <= 100:
    print("Grade: A")
elif 80 <= x <= 89:
    print("Grade: B")
elif 70 <= x <= 79:
    print("Grade: C")
elif 60 <= x <= 69:
    print("Grade: D")
elif 50 <= x <= 59:
    print("Grade: F")
else:
    print("Invalid Score")

enter score(0-100):  96

Grade: A

In [4]:
# 6
num = int(input("enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print(" Negative")
else:
    print("Zero")

enter a number:  -8

 Negative

In [5]:
# 7
x = int(input("enter first number: "))
y = int(input("enter Second number: "))
z = int(input("enter Third number: "))

if x >= y and x >= z:
    print("Largest:",x)
elif y >= x and y >= z:
    print("Largest:",y)
else:
    print("Largest:",z)

enter first number:  56
enter Second number:  88
enter Third number:  92

Largest: 92

In [9]:
# 8
char = input("enter a single character: ").lower()
if char in "aeiou":
    print("Vowel")
elif char.isalpha():
    print("Consonant")
else:
    print("Not a letter")

enter a single character:  B

Consonant

In [10]:
# 9
year = int(input("enter a year: "))
if(year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

enter a year:  456

Leap Year

In [11]:
# 10
celsius = float(input("enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in fahrenheit:",fahrenheit)

if fahrenheit > 100:
    print("It's boiling!")
else:
    print("It's not boiling yet.")

enter temperature in celsius:  95

Temperature in fahrenheit: 203.0
It's boiling!